{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        {% include "partials/_alerts.html"  %}
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
        {% bootstrap_form form  %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% bootstrap_button button_type="submit" content='submit' %}
        {% bootstrap_button button_type="reset" content='clear' %}
        </form>
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll("button.btn")
            buttons.forEach((btn)=>{
                if (btn.type == "reset") btn.classList.add("btn-danger")
                else btn.classList.add("btn-success")
            })
        })
    </script>
{% endblock %}