{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Change Password{% endblock %}
{% block content %}
    {% if form.errors %}
        {% include "partials/_alerts.html"  %}
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="change-password">
        <form action="{% url 'password_change' %}" method="post">
        {% bootstrap_form form  %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% bootstrap_button button_type="submit" content='submit' %}
        {% bootstrap_button button_type="reset" content='clear' %}
        </form>
    </div>
{% endblock %}