{% load django_bootstrap5 %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2  {% if '/' == request.path %}active {% else %}link-secondary {% endif %} ">Home</a></li>
      </ul>

      <div class="col-md-3 text-end">
        {% if not user.is_authenticated %}
            <a type="button" class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
            <a type="button" class="btn btn-primary" href='{% url "register" %}'>Sign-up</a>
        {% else %}
            <div class="btn-group">
                <a type="button" class="btn btn-primary" href="{% url 'dashboard' %}">{{request.user.username}}</a>
                <a 
                type="button" 
                class="btn btn-danger me-2"
                href="javascript:document.getElementById('logout-form').submit()"
                >
                    logout
                </a>
                
            </div>
            <form action="{% url 'logout' %}" method="post" class="visually-hidden" id="logout-form">
                {% csrf_token %}
            </form>
        {% endif %}        
      </div>
    </header>
  </div>